.profile {
  padding: 20px;
  text-align: center;
}

.card {
  background: rgb(255, 255, 255);
  padding: 20px;
  margin: 20px auto;
  width: 300px;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

button {
  padding: 8px 12px;
  background: #ff4da6;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
.profile .card {
  width: 300px;
  margin: 40px auto;
  padding: 20px;
  text-align: center;
}