<div class="page">

  <div class="login-card">

    <h1>Login</h1>

    <form (ngSubmit)="login()">

      <input
        type="text"
        placeholder="Username"
        name="username"
        [(ngModel)]="form.username"
      />

      <input
        type="password"
        placeholder="Password"
        name="password"
        [(ngModel)]="form.password"
      />

      <button type="submit">Login</button>

    </form>

    <p *ngIf="success" style="color: lightgreen;">
      Login successful
    </p>

    <p *ngIf="error" style="color: red;">
      Login failed
    </p>

  </div>

</div>