<nav class="navbar">

  <div class="logo">
    ADM Beauty
  </div>

  <div class="links">
    <a routerLink="/">Home</a>
    <a routerLink="/services">Services</a>
    <a routerLink="/appointments">Appointments</a>
    <a routerLink="/masters">Masters</a>
    <a routerLink="/profile">Profile</a>

    @if (auth.isManager()) {
      <a routerLink="/manager-bookings">Manage Bookings</a>
    }

    @if (auth.isMaster()) {
      <a routerLink="/master-portfolio">My Portfolio</a>
    }
  </div>

  <div class="auth">
    @if (auth.currentUser(); as user) {
      <span class="username">Hi, {{ user.username }}</span>
      <a (click)="logout()" class="logout-link">Logout</a>
    } @else {
      <a routerLink="/login">Login</a>
    }
  </div>

</nav>