body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background: #fafafa;
  color: #222;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  transform: scale(1.05);
}

.card {
  background: white;
  border-radius: 14px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.08);
}
.toast {
  position: fixed;
  top: 20px;
  right: 20px;
  background: #ff4da6;
  color: rgb(255, 255, 255);
  padding: 12px 18px;
  border-radius: 10px;
  animation: fade 0.3s ease;
}

@keyframes fade {
  from { opacity: 0; transform: translateY(-10px); }
  to { opacity: 1; transform: translateY(0); }
}