<div class="page">
<div class="masters">

  <!-- <div class="hero-card">
    <h1>Our Masters</h1>
    <p>Choose your stylist and book your perfect look</p>
  </div> -->

  @if (loading()) {
    <p>Loading masters...</p>
  }

  @if (error()) {
    <p>{{ error() }}</p>
  }

  @if (!loading() && !error()) {

    <div class="grid">

      @for (m of masters(); track m.id) {
        <div class="card" (click)="selectMaster(m)">
          <img [src]="'http://localhost:8000' + m.photo" />
          <h3>{{ m.name }}</h3>
          <p>{{ m.specialty }}</p>
          <p>{{ m.bio }}</p>
        </div>
      }

    </div>

  }

  @if (selectedMaster) {
    <div class="selected">
      <h2>{{ selectedMaster.name }}</h2>
    </div>
  }

</div>
</div>