.offers-page {
  width: 100%;
  min-height: 100vh;

  background: url("/beauty.jpg") center/cover no-repeat;

  padding: 100px 40px 40px;
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.offers-page::before {

  content: "";

  position: absolute;

  inset: 0;

  background: rgba(0,0,0,0.3);

}
/* HERO */
.hero {
  text-align: center;

  padding: 20px 30px;
  border-radius: 20px;

  background: rgba(0,0,0,0.4);
  backdrop-filter: blur(12px);

  border: 1px solid rgba(255,255,255,0.15);

  margin-bottom: 40px;
}

.hero h1 {
  font-size: 40px;
  color: white;
  text-align: center;

  background: linear-gradient(90deg, #2b2929, #181717);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero p {
  margin-top: 10px;

  font-size: 14px;
  letter-spacing: 0.5px;

  color: rgba(255,255,255,0.9);

  background: rgba(0,0,0,0.35); /* 👈 ключ */
  padding: 6px 12px;
  border-radius: 10px;

  display: inline-block;
}

/* GRID */
.offers-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;

  width: 80%;
  max-width: 900px;
}

/* CARD */
.offer-card {
  position: relative;

  padding: 20px;
  border-radius: 18px;

  background: rgba(0, 0, 0, 0.45); /* 👈 ТЕМНЕЕ */
  backdrop-filter: blur(14px);

  border: 1px solid rgba(255,255,255,0.2);

  color: white;

  display: flex;
  flex-direction: column;
  gap: 10px;

  transition: 0.3s;
}
.offer-card h3 {
  font-size: 20px;
  font-weight: 600;
  color: #ffffff;
}

.offer-card p {
  font-size: 13px;
  color: rgba(255,255,255,0.85);
}

.offer-card:hover {
  transform: translateY(-6px) scale(1.02);
  background: rgba(255,255,255,0.12);
}

/* BADGE */
.badge {
  position: absolute;
  top: 10px;
  right: 10px;

  background: linear-gradient(135deg, #474345, #585760);
  color: white;

  font-size: 11px;
  padding: 4px 8px;
  border-radius: 10px;
}

/* PRICE */
.price {
  display: flex;
  gap: 10px;
  align-items: center;
}

.old {
  text-decoration: line-through;
  opacity: 0.6;
}

.new {
  font-size: 20px;
  font-weight: bold;
  color: #ff4da6; /* 👈 акцент */
}

/* BUTTON */
button {
  margin-top: auto;

  padding: 10px;
  border-radius: 12px;

  border: none;
  cursor: pointer;

  background: linear-gradient(135deg, #4b4749, #38383a);
  color: white;

  transition: 0.3s;
}

button:hover {
  transform: translateY(-2px);
  opacity: 0.9;
}